.b_buyer {
  padding-top: 260px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 1365px;
  position: fixed;
}

.b_buyer > div {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.b_buyer > div:last-child {
  margin-right: 0;
  border-right: none;
}
