.b_category {
  padding-top: 175px;
  margin-bottom: 260px; /* add margin to create space below */
  border: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0px;
  gap: 200px;
  border-bottom: 1px solid #ccc;
}
