.p_methods {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -400px;
    padding: 20px;
  font-weight: bold;
  font-size: 20px;

}

.title {
  color: #00a2ae;
  margin-bottom: 20px;
}
