.totalinfo {
  position: relative;
  top: -20px;
}

.totalprice {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.link {
  top: 50px;
  width: 300px;
  display: flex;
  position: relative;
  text-decoration: none;
}

.button {
  display: flex;
  position: relative;
  width: 300px;
  height: 75px;
  background-color: #00a2ae;
  border-color: #ffffff;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}ight: 75px;
