.b_footer {
  border-bottom: 20px solid;
  width: 1365px;
  height: 151px;
  background-color: #00a2ae;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 260px; /* add margin to create space above */
}
