.b_header {
  border: 20px solid;
  width: 1365px;
  height: 151px;
  background-color: #00a2ae;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
body {
  margin: 0;
}
