.b_footer {
  border: 20px solid;
  width: 1365px;
  height: 151px;
  background-color: #00a2ae;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
