.b_contents {
  border: 20px solid #FFFFFF; 
  border-top: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.f_img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.d_img {
  margin: auto;
  
  width: 800px;
  height: 800px;
  object-fit: cover;
}